.InputsList {
  width: 100%;
  padding: 10px;
}

.TeethQuantity {
  color: #919191;
}


.TreatmentsInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.TreatmentsInner div {
  flex: 1;
  text-align: center;
}

.inputs {
  width: 80%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #919191;
  border-radius: 4px;
  margin: 5px 0;
}

.total {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.add-button {
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #45a049;
}

.suggestion-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: 90%; /* Make the suggestion list take the full width of the parent container */
  z-index: 1000; /* Ensure the suggestion list appears above other elements */
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a stylish look */
}

.suggestion-list li {
  padding: 8px;
  cursor: pointer;
  background-color: white;
}

.suggestion-list li:hover {
  background-color: #f0f0f0;
}

.suggestion-item {
  color: black;
}



