.FirstTreatment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(143, 143, 143);
    padding: 15px;
    box-sizing: border-box;
  }
  
  .FirstTreatment p {
    margin: 0;
  }

  .price{
    margin-left: auto;
    font-weight: bold;
    color: black;
    font-size:larger;
  }